<ul class="nav nav-pills">
                <li class="nav-item">
                  <h3>Mongo Scraper</h3>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/scrape">Get New Articles!</a>
                </li>
        </ul>

        <div class="jumbotron">
                <h1 class="display-4">Mongo Scraper</h1>
                <h2 class="lead">New York Times Edition</h2>
                <hr class="my-4">
        </div>

    <ul>
        {{#each articles}}
        {{/each}}
    </ul>